*{
    font-family: 'poppins',sans-serif;
}
body{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url("../Images/3.jpg");
    
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 15px;
    height: 600px;
    width: 550px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* background: rgba(173, 171, 171, 0.416); */
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border: 2px solid rgba(255,255,255,.2);

}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    text-decoration: none;
    
}
.container a{
    text-decoration: none;
}
span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    font-size: 20px;
}
header{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field .input{
    font-size: 15px;
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 45px;
    background:  rgba(255,255,255,0.1);
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
}
::-webkit-input-placeholder{
    color: #fff;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s;
}
.submithover{
    box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.2);
}
.one{
    display: flex;
}
label a{
    text-decoration: none;
    color: #fff;
}
 .top-header{
    justify-content: center;
    text-align: center;
 }
 .top-header label a{
    color: rgba(210, 49, 13, 0.863);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
 }
 .bottom .left label{
    color: #fff;
 }